.form
   display block

   &__personal-section
      margin-top 38px
      margin-bottom 42px

   &__courses-section
      margin-bottom 40px

   &__courses-label
      margin-right 27px
      display inline-block
      letter-spacing .04em

   &__courses-input
      margin-right 15px
      display inline-block

   &__skills-section
      margin-bottom 70px

   &__skills-heading
      letter-spacing .04em

   &__skills-description
      margin-top 8px
      margin-bottom 18px
      font normal 14px 'PTSans'
      line-height 1.57
      word-spacing -.1em
      color rgb(47, 27, 21)

   &__skills-description:before
      display block
      float left
      width 19px
      height 60px
      font 36px 'PTSans'
      line-height 1.1
      content '*'

   &__first-column
      //margin-left 1px
      display inline-block
      width 255px
      vertical-align top

   &__second-column
      display inline-block
      width 275px
      vertical-align top

   &__third-column
      display inline-block
      width 230px
      vertical-align top

   &__javascript-section
      margin-bottom 32px
      padding-left 14px

   &__javascript-heading
      margin-bottom 13px
      margin-left -3px
      letter-spacing .02em

   &__date-section
      padding-right 380px

   &__date-label
      padding-right 5px
      display inline-block
      vertical-align bottom

   &__date-input
      display inline-block
      width 205px
