.input-radio
   margin-left -16px
   display inline-block
   font bold 22px 'PTSans'
   color rgb(47, 27, 21)

   &__label
      display inline-block
      vertical-align middle
      cursor pointer

   &__input
      opacity 0

   &__text
      margin-left -1px

   &__image
      display inline-block
      vertical-align middle
      sprite($radio)

   &__input:checked + label span.input-radio__image
      sprite($radio_selected)

