.anketa
   display block
   background-color rgb(121, 121, 121)

   &__main-container
      margin 0 auto
      padding 58px 54px 79px 45px
      display block
      width 1000px
      background url(../images/pattern.png) repeat

   &__form-wrapper
      padding 30px 67px 0 63px
