@font-face
  font-family "PTSans"
  font-style normal
  font-weight normal
  src url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf)

@font-face
  font-family "PTSans"
  font-style normal
  font-weight bold
  src url(../fonts/PT_Sans/PT_Sans-Web-Bold.ttf)
