.inputs-text-block
   display block

.inputs-text-block__input-wrapper
   margin-bottom 2px
   display flex
   display -webkit-flex

.inputs-text-block__label
   margin-right 20px
   display flex
   display -webkit-flex
   flex-direction column
   -webkit-flex-direction column
   justify-content flex-end
   -webkit-justify-content flex-end

.inputs-text-block__input
   display flex
   display -webkit-flex
   flex-grow 1
   -webkit-flex-grow 1
   display inline-block


