.header
   display flex
   display -webkit-flex
   justify-content space-between
   -webkit-justify-content space-between

   &__logo
      padding-top 12px

   &__logo-txt
      position relative
      top -7px
      padding-left 7px
      font 10px 'PTSans'
      letter-spacing .01em
      color rgb(47, 27, 21)
