mixin slider()
	+b.slider
		+e('div').bar#bar
			+e('input').input#input&attributes({'type': 'hidden', 'value': 368})
			+e('img').handle#handle&attributes({'src':'assets/images/slider_handle.png'})
		+e('div').grades
			+e('div').grade-no Не владею
			+e('div').grade-low Использую готовые решения
			+e('div').grade-medium Использую готовые решения и умею их переделывать
			+e('div').grade-high Пишу сложные скрипты
